body{
    background: rgb(111, 111, 111);
}

.heading{
    color: rgb(226, 245, 240);
    text-align: center;
}

.p1{
    font-size: 25px;
    color: rgb(255, 230, 0);
}

.p2{
    font-size: 1.8rem;
    color: rgba(0, 255, 200, .8);
}

h1,h2,h3,h4,h5,h6{
    color: rgb(255, 0, 0);
}

hr{
    border: 3px double blue;
    width: 85%;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 20px;
}

.sec1,.sec2,.sec3{
    font-size: 36px;
    min-height: 500px;
    text-align: center;
    border-radius: 15px;
}

.sec1{
    background-color: rgb(168, 252, 41);
    flex: 1;
}

.sec2{
    background-color: rgb(255, 78, 47);
    flex: 1;
}

.sec3{
    background-color: rgb(47, 238, 255);
    flex: 1;
}
